<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<div id="login" class="modal">
  <form id="login-form" class="modal-content" method="post" action="/auth/log_in_process">
    <div class="form-container">
      <h1>Log In</h1>
      <hr>

      <label for="username"><b>Username</b></label>
      <input id="username-inp" type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input id="password-inp" type="password" placeholder="Enter Password" name="psw" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Log In</button>
      </div>
    </div>
  </form>
  <script src="/js/login.js" type="module"></script>
</div>

