<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<div id="login" class="modal">
  <form id="login-form" class="modal-content" method="post" action="/log_in_process">
    <div class="container">
      <h1>Log In</h1>
      <p>fill ts in already.</p>
      <hr>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label>
        <input type="checkbox" checked="checked" names="remember" style="margin-bottom:15px"> tick me (please)
      </label>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtm">Log In</button>
      </div>
    </div>
  </form>
  <script src="/js/login.js" type="module"></script>
</div>

