<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<div id="signup" class="modal">
  <form id="signup-form" class="modal-content" method="POST" action="/auth/sign_up_process">
    <div class="form-container">
      <h1>Sign Up</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input id="email" type="text" placeholder="Enter Email" name="email" required>

      <label for="username"><b>Username</b></label>
      <input id="username" type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input id="psw" type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw2"><b>Confirm Password</b></label>
      <input id="psw2" type="password" placeholder="Confirm Password" name="psw2" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn btn">Cancel</button>
        <button type="submit" class="signupbtn btn">Sign Up</button>
      </div>
    </div>
  </form>
  <script src="/js/signup.js" type="module"></script>
</div>

