body, .website-nav, .account, ul { margin: 0; padding: 0; }

body {
  background-color:#10324d;
}

.account-overlay {
    overflow:hidden; 
    background-color:#0a2339; 
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #051320;

    display: none;
    
    padding: 0.5%;
    position: absolute;
    right: 5%;
    top: 100%;
    z-index: 1;
}

.account-action-list {
    flex-direction: column;
    display: flex;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    align-content: center;
}

li {display: block;}

li {  
    & a {
        position: relative;
        font-size: 24px;
        color: rgb(161, 173, 211);
        text-decoration: none;
        margin: 0;
        text-align: center;
        padding: 5px 8px;
    }
}

.navbar {
    border-width: 0px;
    background-color: #0c2942;
    position: relative;
    margin-bottom: 20px;
    padding: 0;
}


.account, .account-settings {
    & li {
        float: right;
        position: relative;
        font-size: 24px;
        color: rgb(161, 173, 211);
        text-decoration: none;
        margin: 0;
        text-align: center;
        padding: 5px 8px;
    }
}

li:hover, a:hover {cursor: pointer; color: rgb(182, 192, 225)}

.website-nav {
    & li {
        float: left;
        padding: 5px 8px;
    }
}

