body { margin: 0; }

.container {
    padding: 20px;            
    min-height: 100px;
}

li, & a {  
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 24px;
    color: #2e434f;
    text-decoration: none;
}

li {
    padding: 10px 15px;
}

li:hover, & a:hover {
    color: #ffffff;
}

.navbar {
    border-width: 0px;
    background-color: #6a97b2;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}

.account {
    margin-right: 15px;
    & li {
        float: right;
    }
}

.website-nav {
    & li {
        float: left;
    }
}