* {box-sizing: border-box}

.form-container {
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #385a78;
    border-radius: 5px;
    color: rgb(224, 228, 242); 
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #2c4a64;
    outline: none;
  }
}

::placeholder {
  color: rgb(224, 228, 242); 
}

.btn {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #7166b8;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  color: white;
}

.signupbtn {
  background-color: #72c0ca;
}

.form-container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93, 0.7);
  padding-top: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #113351;
  margin: 3% auto 3% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #0b2d4b;
  width: 550px;
  border-radius: 4px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
